@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap');
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* ==============================================
=====Index Of====
1.Basic Style
2. Header Style
3. banner Style
4. design style
5. about Style
6.Footer Style
================================================= */
/* ==============================================
1. Basic Style
================================================= */
/* body{
    background-color: #fff9f3;
} */
/* ==============================================
2. Header style
================================================= */
header{

}
header .header{

}
header .img1{
    margin-top: 190px !important;
    display: block;
}
header .img{
    position: absolute;

}
header nav {
    position: relative;
}
header nav ul{
    margin-left: 650px;
}
header nav ul li{
    margin-top: 60px; 
    
}
header nav ul  a{
    color: #ca1010;
}
header nav .btn{
    width: 150px;
    background-color: #ffffff;
    height: 40px;
    position:relative;
    margin-top: 60px;
    
}
header nav .btn:hover{
    background-color: white;
    border: none;
}
header nav i{
   margin-left: -35px;
    position: absolute;
    margin-top: 11px;
     margin-top: 71px; 
}
.header2{
    position: relative;
}
.header2 .img{
    position:;
    margin-top: 113px;
}
.header2 .part1{

}
.header2 .part1 h1{
    color: #ffffff;
    font-style: italic;
    margin-top: 83px;
    font-size: 42px;
    font-weight: 700;
}
.header2 .part1 .text1{

}
.header2 .part1 .text1 p{
    color: #ffffff;
    margin-top: 140px;
    margin-bottom: 65px;
}
.header2 .part1 .text2 .btn{
    background-color: #ebebeb;
    color: #2e3034;
    font-weight: 700;
    margin-bottom: 25px;
}
.header2 .part1 .text2 .btn:hover{
    background-color:orangered;
    transition: background-color 1s ease-in-out 1s;
}
.header2 .part1 .text2 p{
    color: #ffffff;
}
.header2 .part2{

}
.header2 .part2 .img1{
    width: ;
    position: absolute;
    margin-top: -150px;

}
.header2 .part2 .img1 img {
    width: 500px;
    padding-top:120px;
    
}
.header2 .part2 .img2{
    width: ;
    position: relative;
   

}
.header2 .part2 .img2 img {
    width: 150px;
    margin-top: 415px;
    margin-left: -140px;
    
}
.header2 .part2 .img3{
    width: ;
    position: relative;
   

}
.header2 .part2 .img3 img {
    width: 450px;
    margin-left: 170px;
    margin-top: -200px;
    
}

/* ==============================================
3. Banner style
================================================= */
#banner{
    padding-bottom: 60px;
}
#banner .text{

}
#banner .text h1{
    color: #222328;
    text-align: center;
    padding-bottom: 60px;
}
#banner .text p{
    text-align: center;
}
#banner .part1{
    margin-top: 100px;
    margin-bottom: 122px;
}
#banner .part1 .text h5{
    text-align: center;
}
#banner .part1 .text p{
    text-align: center;
}
#banner .part2{
    margin-top: 100px;
}
#banner .part2 .text h5{
    text-align: center;
    margin-top:17px;
}
#banner .part2 .text p{
    text-align: center;

}
#banner .btnbox{

}
#banner .btnbox a{
    display: block;
    text-align: center;
    
}
#banner .btnbox .btn{
    background-color: #343434;
    text-align:center;
    width: 20%;
    color: #ffffff;
    height: 50px;
    display: block;
    padding-top: 11px;
    
}
/* ==============================================
4. About style
================================================= */
#about{
    background-color: #27292c;
    
}
#about .about{
    padding-top: 116px;
    padding-bottom: 60px;
}
#about .about .text h1{
    text-align: center;
    color: #ffffff;
    font-size: ;
    font-weight: 700;
    font-family: Arial;
}
#about .about .text2{
    padding-top:100px ;
    padding-bottom:84px ;
} 
#about .about .text2 .text1{
    
} 
#about .about .text2 .text1 p{
    color: #ffffff;
} 
#about .about .text2 .text3 p{
    color: #ffffff;
    margin-left: 200px;
}
#about .about .btnbox{

}
#about .about .btnbox .btn{
    background-color: #e9e9e9;
    display: block;
    margin: 0 auto;
    width: 18%;
}
/* ==============================================
5. Servic style
================================================= */
#servic{

}
#servic .servic{
    margin-top: 60px;
}
#servic .servic .img{
    
} 
#servic .servic .img img{
    width: 600px;
}
#servic .servic .part1{
    margin-left: 100px;
    margin-top: 90px;
}
#servic .servic .part1 .text{
    
} 
#servic .servic .part1 .text h1{
    color: #000000;
} 
#servic .servic .part1 .text p{
    padding: 40px 0px;
    color: #27292c;
}
#servic .servic .part1 .btnbox{
    display: block;
}
#servic .servic .part1 .btnbox .btn{
    display: block;
    width: 30%;
    background-color: #27292c;
    color: #ffffff;
}
#servic .servic .part4 .img{
    
} 
#servic .servic .img1 img{
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 10px);
    width: 600px;
}
#servic .servic .part2{
    margin-top: 90px;
}
#servic .servic .part2 .text{

}
#servic .servic .part2 .text h1{
    color: #000000;

}
#servic .servic .part2 .text p{
    padding: 40px 0px;
    color: #27292c;
}
    
#servic .servic .part2 .btnbox{
    display: block;
}
#servic .servic .part2 .btnbox .btn{
    display: block;
    width: 30%;
    background-color: #27292c;
    color: #ffffff;
}
/* ==============================================
6. Design style
================================================= */
#design{
    
}
#design .img{
    position: relative;
}
#design .img img{
    position: relative;
}
#design .text{

}
#design .text h1{
    text-align: center;
    position: absolute;
    margin-top: -950px;
    color: #f8f6f1;
    margin-left: 286px;
}
#design .text p{
    text-align: center;
    position: absolute;
    margin-top: -836px;
    color: #f8f6f1;
    margin-left: 233px;
}
#design span{
    content: '';
    width: 163px;
    height: 11px;
    color:#fafafa;
    margin-top: 33px;
    background-color:#fafafa;
    display: block;
    position: absolute;
    margin-top: -710px;
    margin-left: 480px;
}
#desing .img{

}
#design .img img{
    margin-top: -670px;
    margin-left: 300px;
}
#desing .img1{

}
#design .img1 img{
    margin-top: -332px;
    margin-left: 130px;
}
/* ==============================================
7. contuct style
================================================= */
#contuct{
    margin-bottom: 193px;
}
#contuct .part1{

}
#contuct .part1 h1{
  color: #393939;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  margin-bottom: 51px; 
}
#contuct .part1 p{
    color: #333d42;
}

#contuct .text2{

}
#contuct .text2 p{
    text-align: center;
    margin-top: 247px;
    color: #3f3f3f;
}
#contuct .text3 p{
    text-align: center;
    margin-top: 73px;
}
/* ==============================================
8. Email style
================================================= */
#email{
    background-color:#27292c ;
}
#email h1{
    text-align: center;
    color: #ffffff;
    padding-top: 238px;
    padding-bottom: 70px;
}
#email p{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}
#email .form{
    text-align: center;
    padding-top: 87px;
    padding-bottom: 232px;
}
#email .form input{
    padding-left: 45px;
    width: 548px;
    height: 64px;
    border: none;
    font-style: italic;
}
#email .form input:focus{
    border: none;
    outline: none;
}
#email .form .btn{
    border: none;
    background-color: #54524f;
    width: 230px;
    margin-left: -110px;
    height: 66px;
    padding: 19px 0px;
    color: #ffffff;
    font-style: italic;
    margin-top: -2px;
}

/* ==============================================
8. footer style
================================================= */
footer{
    margin-top: 340px;
    margin-bottom: 387px;
}
footer .part1{

}
footer .part1 a{
    text-decoration: none;
    padding-bottom: 40px;
    display: block;
    color: #343434;
    font-size: 20px;
}
footer .part1 p{
    color: #343434;
    font-size: 14px
}
footer .icon{
    border-radius:;
}
footer .icon .icon1 {
    font-size: 36px;
    color: #000000;
    border-radius: 50%;
    display: inline-block;
    padding-top: 40px;
}
footer .icon .icon2{
    font-size: 36px;
    color: #000000;
    border-radius: 50%;
    display: inline-block;
    padding-top: 40px;
    padding-right:15px ;
    margin-left: 15px;
}
footer .icon .icon3 {
    font-size: 36px;
    color: #000000;
    border-radius: 50%;
    display: inline-block;
    padding-top: 40px;
    padding-right:15px ;
    margin-left: 15px;
}
footer .icon .icon4 {
    font-size: 36px;
    color: #000000;
    border-radius: 50%;
    display:inline-block;
    padding-top: 40px;
    padding-right:10px ;
    margin-left: 10px;
}
footer .part1{
    display: block;
    margin-left:;
}
footer .part2{
    display: block;
    margin-left: 50px;
}
footer .part2 a{
    display:block;
    text-decoration: none;
}
footer .part2 .link1{
    display: block;
    color: #343434;
    padding-bottom: 34px;
    font-size: 20px;
}
footer .part2 .link a{
    color: #343434;
    display: block;
    font-size:14px;
    padding: 6px 0px;
}
footer .part3{
    display: block;
}
footer .part3 .link1{
    display: block;
    color: #343434;
    padding-bottom: 34px;
    font-size: 20px;
}
footer .part3 .link a{
    color: #343434;
    display: block;
    font-size:14px;
    padding: 6px 0px;
}
footer .part3 a{
    display:block;
    text-decoration: none;
    
}
footer .part4{
    display: block;
}
footer .part4 .link1{
    display: block;
    color: #343434;
    padding-bottom: 34px;
    font-size: 20px;
}
footer .part4 .link a{
    color: #343434;
    display: block;
    font-size:14px;
    padding: 6px 0px;
}
footer .part4 a{
    display:block;
    text-decoration: none;
}